<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts />
  <UINavigations>
    <Navigation>
      <_id>16d0cd5f-03b7-4e63-ada0-bc9a6e7abeed</_id>
      <NavigationName>Student</NavigationName>
      <WidgetName>Student</WidgetName>
    </Navigation>
    <Navigation>
      <_id>9d074912-df6f-403b-a9b7-9460b1ccc7b6</_id>
      <NavigationName>Course</NavigationName>
      <WidgetName>Course</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>e18fb014-45f2-4c51-ae65-84a90e5f6245</_id>
      <NavigationName>Enrollment</NavigationName>
      <WidgetName>Enrollment</WidgetName>
      <UIViews />
    </Navigation>
  </UINavigations>
</jwtApp>